

.social-menu ul{
	position: absolute;
    top:72px;
	left:90%;
	padding: 0;
	margin:0;
	transform: translate(-50%, -50%);
	display: flex;
}
.social-menu ul li{
	list-style: none;
	margin: 0 15px;

}
.social-menu ul li .fa{
	font-size: 30px;
	line-height: 60px;
	transition: .6s;
	color:#ffff;
}

.social-menu ul li a{
	position: relative;

	width: ;
	height: 60px;
	border-radius: 70%;
    top:720px;
	text-align: center;
	transition: .6s;
}